body {
    margin: 0;
    padding: 0;
    background-image: url('bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.mainImg {
    width: 100%;
    height: 100%;
    /* position: relative; */
    /* background-color: white; */
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px; */
}

.mainImg img {
    position: absolute;
    width: 30%;
    height: auto;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
}

.modal-content {
    /* margin: 15% auto; */
    /* padding: 20px; */
    width: 80%;
    /* height: 60%; */
    /* max-width: 600px; */
    background-color: white;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    position: relative;
    /* text-align: center; */
}

.modal-content .close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: black;
    font-size: 28px;
    /* font-weight: light; */
    cursor: pointer;
}

/* .modal-content .close:hover,
.modal-content .close:focus {
    color: black;
    text-decoration: none;
} */

.modal-image img {
    width: 100%;
    height: auto;
}